apiVersion: v1
kind: Service
metadata:
  labels:
    app: go-server-ci
  name: go-server-ci
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: go-server-ci
  type: NodePort
  template:
    spec:
      containers:
        - image: ghcr.io/2023-4400-exp/学生番号-go-server-ci:0aa5dea77c02b195b48d3662afb0573c02be061a
